.input{
    height:  5%;
    width: 30%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5;
}

input {
    border: none;
    background: none;
    margin-left: 6px;
    flex: 1;
    -ms-flex: 1;
    align-self: center;
}

input:focus {
    
    outline: none;
}

button {
    margin-right: 6px;
    background-color: white;
    border-radius: 5px;
    
}