body {
    width: 100%;


}

.todoList {
    display: flex;
    align-items: center;

}

.list_item {
    margin: 5px;
    padding-left: 20px;
    padding-top: 15px;
    color: black;
    font-size: 28px;
    text-decoration: underline;
    background-color: #F2EFE8;
    border-radius: 50px;
    flex: 1;
    font-weight: bold;
}




