body {
    width: 100%;


}

.todoList {
    display: flex;
    align-items: center;

}

.list_item {
    margin: 5px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 18px;
    flex: 1;
    text-decoration: underline;
    background-color: #6ab6ad;
    border-radius: 50px;


}

.completed_item {
    text-decoration: line-through;
}

