body {
    width: 100%;
    
}

.todoList {
    display: flex;
    align-items: center;
    justify-items: center;
}
.bi {
    margin: auto;
}

.list_item {
    margin: auto;
    margin-top: 2rem;
    width: 25rem;
    color: black;
    font-size: 20px;
    background-color: #F2EFE8;
    border-radius: 50px;
    font-weight: bolder;
    
    
}




